.bounding-box{
	position:  absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;

}

/*With absolute positioning, an element can be placed anywhere on a page.
left:  placed #px from the left of the page
right:  placed #px from the right of the page
top:  placed #px from the top of the page
bottom:  placed #px from the bottom of the page*/